#################
## Eclipse
#################


.metadata
bin/
tmp/
classes/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.settings/
#*.prefs
.apt_generated
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac OS
############

# Desktop Services Store for the Mac
.DS_Store
assembly/.settings/
sdk/com.ibm.sbt.core.test/.settings/
sdk/com.ibm.sbt.core/.settings/
samples/java/sbt.sample.app/.settings/
samples/java/bss.provisioning.sample.app/.settings/org.sonar.ide.eclipse.core.prefs
commons/com.ibm.commons.runtime/.settings/
