# Auto detect text files and perform LF normalization
* text=auto

.gitignore

# Java
*.java        text
*.MF          text
*.properties  text

# XML
*.xml         text
*.XML         text
*.xmi         text

# Javascript
*.js          text
*.json        text

# Eclipse
*.prefs       text

# Windows scripts
*.cmd         text

# Images
*.png  binary
*.jpg  binary
*.gif  binary

# Standard to msysgit
*.doc   diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
