#################
## Eclipse
#################

.metadata
bin/
tmp/
classes/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
mockData/
*.mock
#.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

*.prefs

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac OS
############

# Mac crap
.DS_Store
