<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!--
   <extension
		id="servlet"
		name="servlet"
		point="org.eclipse.equinox.http.registry.servlets">
		<servlet alias="/sbt/toolkit" class="com.ibm.xsp.sbtsdk.servlets.ToolkitServlet">
		</servlet>
	</extension>
   	<extension
		id="servlet"
		name="servlet"
		point="org.eclipse.equinox.http.registry.servlets">
		<servlet alias="/sbt/proxy" class="com.ibm.sbt.proxy.core.servlet.ProxyServlet">
		</servlet>
	</extension>
-->
   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.Library" class="com.ibm.xsp.sbtsdk.library.SbtSdkLibrary" />
   	</extension>
   	
   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.adapter.servletFactory" class="com.ibm.xsp.sbtsdk.servlets.ProxyServletFactory" />
   	</extension>
   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.adapter.servletFactory" class="com.ibm.xsp.sbtsdk.servlets.ToolkitServletFactory" />
   	</extension>
   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.adapter.servletFactory" class="nsf.playground.servlets.PlaygroundToolkitServletFactory" />
   	</extension>

   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.sbt.jslibrary" class="com.ibm.xsp.sbtsdk.servlets.DominoDojoLibrary" />
   	</extension>

   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.sbt.jslibrary" class="com.ibm.xsp.sbtsdk.servlets.DominoJQueryLibrary" />
   	</extension>

    <extension point="com.ibm.commons.Extension">
         <service 
         	type="com.ibm.xsp.GlobalResourceProvider" 
         	class="com.ibm.xsp.sbtsdk.resources.SbtResourceProvider" />
    </extension>

<!--
    <extension point="com.ibm.commons.Extension">
         <service
            type="com.ibm.xsp.resource.DojoModulePathResource"
            class="com.ibm.xsp.sbtsdk.resources.SbtModulePath" />
    </extension>
-->
    <extension point="com.ibm.commons.Extension">
         <service
         	type="com.ibm.xsp.minifier.loader"
         	class="com.ibm.xsp.sbtsdk.resources.SbtLoader" />
    </extension>

   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.sbt.core.mimeemailfactory" class="com.ibm.xsp.sbtsdk.services.mail.DominoMimeEmailFactory" />
   	</extension>


	<!--
		PLAYGROUND SPECIFIC
	-->

   	<extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.Library" class="nsf.playground.library.PlaygroundLibrary" />
   	</extension>

</plugin>
