.bootstrap-scoped .gadgetMenuDropDown { 
	right: 0; 
	left: auto;
}

.nav-collapse.collapse {
    height: auto;
    overflow: visible;
}

.dropdown-submenu.pull-left {
    float: none;
}


.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}

#gadget-name {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    color: #777777;
}

.gadgetModal.tab {
	left: 22%;
	width: 90%;
	height: 90%;
}

.gadgetModal.sidebar {
	left: 55%;
	width: 22%;
	height: 90%;
}

.gadgetModal .modal-body {
	max-height: none;
	height: 90%;
}

.bootstrap-scoped .modal.fade.in {
    top: 33%;
}