.bootstrap-scoped .gadgetMenuDropDown { 
	right: 0; 
	left: auto;
}

.nav-collapse.collapse {
    height: auto;
    overflow: visible;
}

.dropdown-submenu.pull-left {
    float: none;
}


.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}

#gadget-name {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    color: #777777;
}