h4.lotusSelected a {
	margin-left: -20px;
	padding-left: 20px;
	background-image: url('selectarrow.png');
	background-position: left;
	background-repeat:no-repeat;
}

input.searchbox {
    border: 1px solid #999;
    padding-left: 3px;
    padding-right: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
