<table role="presentation" tabindex="0"
	data-dojo-attach-event="blur: handleBlur, onkeypress: onKeyPress"
	class="dijit dijitMenu dijitReset dijitMenuTable lotusNavMenu lconnSearchScope dijitMenuActive"
	style="position:absolute;">
	<tbody tabindex="0" class="dijitReset">

		<tr
			data-dojo-attach-event="onmouseenter: displayHighlight, onmouseleave: removeHighlight, onclick: setSelectedApplication"
			class="dijitReset dijitMenuItem lotusAlignLeft">

			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconConnections16" />
			</td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.allConnections}</td>
		</tr>

		<tr
			data-dojo-attach-event="onmouseenter: displayHighlight, onmouseleave: removeHighlight, onclick: setSelectedApplication"
			class="dijitReset dijitMenuItem">

			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconStatusUpdate16" />
			</td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.statusUpdates}</td>
		</tr>

		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconActivities16" />
			</td>
			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.activities}</td>
		</tr>

		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconBlogs16" /></td>
			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.blogs}</td>
		</tr>

		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconBookmarks16" />
			</td>
			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.bookmarks}</td>
		</tr>

		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconCommunities16" />
			</td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.communities}</td>

		</tr>

		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconFiles16" /></td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.files}</td>

		</tr>

		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconForums16" /></td>
			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.forums}</td>
		</tr>
		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconProfiles16" />
			</td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.profiles}</td>

		</tr>
		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem dijitMenuItemSelected">

			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconWikis16" /></td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.wikis}</td>
		</tr>

	</tbody>
</table>