<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>IBM Social Business Toolkit</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<description>This filter is created to get the .js, .css and .html served with a Cross Origin Request Security filter to allow cross origin requests.</description>
		<display-name>Cross Origin Request Security Resource Filter (JavaScript, CSS and HTML)</display-name>
		<filter-name>CORSResourceFilter</filter-name>
		<filter-class>com.ibm.sbt.jslibrary.CORSResourceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSResourceFilter</filter-name>
		<url-pattern>*.js</url-pattern> 
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
</web-app>