<td style="width: 25%; vertical-align: top; overflow: hidden;">
    <table width="100%" role="presentation">
        <tbody>
            <tr>
                <td style="width: 73px; vertical-align: text-top;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="">
                                        <a href="${profileLink}" class="fn lotusPerson url hasHover">
                                            <img width="48" height="48" class="otherPeople48" alt="${name} Profile Photo" src="${photo}" title="${name}">
                                        </a>
                                        <span class="x-lconn-userid" style="display: none;">${uid}</span>
                                        <span class="x-lconn-displayname" style="display: none;">${name}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: middle; height: 50px;">
                    <span class="vcard">
                        <a href="${profileLink}" class="fn lotusPerson url hasHover">${name}</a>
                        <span class="x-lconn-userid" style="display: none;">${uid}</span>
                        <span class="x-lconn-displayname" style="display: none;">${name}</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</td>