<tr class="lotusFirst">
	<td class="lotusFirstCell" >
		
		<div class="lotusPostContent">
		    <div class="lotusPostAction asLinkContainer" dojoattachpoint="contentNode">
		        <span class="vcard">
		            <a class="fn url hasHover" href="">${name}</a> ${statusUpdate}
		        </span>
		        
		    </div>
		    <div class="lotusMeta lotusChunk" dojoattachpoint="footerSummary">
		    	<ul class="lotusInlinelist">
		    	    <li class="lotusFirst">
						<img class="lconnSprite lconnSprite-iconProfiles16" alt="" src="https://qs.renovations.com:444/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20120919.054848">
					    
					    <span title="Event from IBM Connections - Profiles" alt="Event from IBM Connections - Profiles">
						    <a>${statusLastUpdate}</a>
						</span>
					</li>
				</ul>
		    </div>
		</div>
		
	</td>
</tr>