<div>
	<div aria-label="Profile photo" role="complementary" class="lotusSection2">
		<div style="width: 155px; height: 155px;" class="lotusCenter">
			<img class="lconnProfilePortrait" alt="${getThumbnailAlt}" src="${getThumbnailUrl}">
		</div>
	</div>
	
	<div class="lotusHeader">
		<span class="vcard lotusHeading">
			<a class="fn url lotusPerson hasHover" href="${getProfileUrl}" icbizcard_ref="1" icbizcard_idx="1" aria-describedby="semtagmenu">
			${getName}
			</a>
			<span style="display: none;" class="x-lconn-userid">${getUserid}</span>
		</span>
	</div>
	
	<div style="padding-top: 3px;" class="lotusDetails lotusLeft">
		<strong> ${getJobTitle} </strong> <br>
		${getTelephoneNumber} <br>
		<a href="mailto:${email}">${getEmail}</a> <br>
	</div>
</div>