<div dojoattachpoint="pagingFooter" class="lotusPaging" style="">
	<ul dojoattachpoint="itemsPerPageList"
		class="lotusLeft lotusInlinelist">
		Show:
		<li class="lotusFirst itemsPerPageLink">
			<a href="javascript: void(0)" title="${nls.show10Items}" aria-pressed="false"
				role="button" data-dojo-attach-event="onclick: show10ItemsPerPage">10</a>
		</li>
		<li class="itemsPerPageLink">
			<a href="javascript: void(0)"
				title="${nls.show25Items}" data-dojo-attach-event="onclick: show25ItemsPerPage"
				aria-pressed="false" role="button">25</a>
		</li>
		<li class="itemsPerPageLink">
			<a href="javascript: void(0)" title="${nls.show50Items}" data-dojo-attach-event="onclick: show50ItemsPerPage"
			aria-pressed="false" role="button">50</a>
		</li>
		<li class="itemsPerPageLink">
			<a href="javascript: void(0)" title="${nls.show100Items}" data-dojo-attach-event="onclick: show100ItemsPerPage"
			aria-pressed="false" role="button">100</a>
		</li> ${nls.items}
	</ul>
	<ul class="lotusRight lotusInlinelist">
		<li class="lotusFirst prevPageLink"><a title="Previous Page"
			href="javascript: void(0)" data-dojo-attach-event="onclick: prevPage"
			style="display: none;"> Previous </a><span style="">${nls.previous}</span></li>
		<li class="nextPageLink"><a title="Next Page"
			href="javascript: void(0)" data-dojo-attach-event="onclick: nextPage"
			style="display: none;"> Next </a><span style="">${nls.next}</span></li>
	</ul>
	<div>
		<div data-dojo-attach-event="catCenterPagingBottom" class=""></div>
	</div>
</div>