<tr uuid="${uid}" class="${renderPinnedRow}">
	<td style="width: 20px; height: 30px" class="lotusFirstCell">
		<input type="checkbox"  data-dojo-attach-point="rowSelectionInput" data-dojo-attach-event="onclick: handleCheckBox"></input>
   </td>
	<td>
	
		<h4 style="max-width: 450px"><span class="${rendererPinnedLogo}"></span>
			<a class="lotusBreakWord" href="" data-dojo-attach-event="onclick: handleClick" >${title}</a>
			<span class="lotusMeta">${isTopicLocked}</span>
		</h4>
		
	</td>
	<td style="width: 12em" class="lotusMeta" ></td>
	
	<td class="lotusMeta"><span >${threadCount}</span></td>
	<td></td>
	<td class="lotusMeta lotusLastCell lotusNowrap"><span
		class="formatDate">${getDateLabel}</span></td>
</tr>