<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.ibm.sbt.opensocial.domino.container" name="OpenSocial Container" schema="schema/com.ibm.sbt.opensocial.domino.container.exsd"/>
    <extension point="com.ibm.pvc.webcontainer.application">
		<contextRoot>
			/sbtos
      	</contextRoot>
      	<contentLocation>
        	WebContent
      	</contentLocation>
   	</extension>
</plugin>
