<tr class="${rowClass}">
	<td align="center" style="width: 40px; padding-top: 5px;">
		<input id="${uid}" name="${uid}" value="${uid}" data-dojo-attach-event="onclick: handleCheckBox" type="checkbox" aria-label="${name}"></input>
	</td>
	<td style="width: 70px" class="lotusFirstCell">
		<img width="55" height="55" src="${getMemberPhoto}" alt="" class="photo">
	</td>
	<td >
		<h1>
			<a href="${profileUrl}"  id="">${title}</a>

		</h1>
		
	</td>
	<td style="width: 30%" class="llCntConnection">
		<span class="lotusConfirm lotusMeta connections llConnectionStatus">
			<strong>Role: ${role}</strong>
		</span>
	</td>
</tr>
