<div dojoAttachPoint="domNode" class="lotusFrame lotusui30_layout">
	<div dojoAttachPoint="bannerNode" role="banner">
		<!-- <div class="lotusBanner" id="lotusBanner"></div> -->
		<div class="lotusTitleBar2">
			<div class="lotusWrapper">
				<div class="lotusInner">
					<h2 class="lotusHeading">
						<img alt="" class="${iconClass}">
						<span class="lotusText">
							<a href="${href}">${title}</a>
						</span>
					</h2>
					<div role="search" class="lotusGlobalSearch">
						<div dojoAttachPoint="searchNode" class="lotusSearch"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div dojoAttachPoint="mainNode" class="lotusMain">
		<div role="alert" class="" style="margin: 20px 0px 0px 0px; display: none;" dojoattachpoint="messageNode">
			<img role="presentation" alt="" src="images/blank.gif" class="" dojoattachpoint="messageIcon">
			<span class="lotusAltText" dojoattachpoint="messageIconAlt"></span>
			<div class="lotusMessageBody" dojoattachpoint="messageBody"></div>
			<a dojoattachevent="onclick: hideMessage" title="${nls.root.messageClose}" dojoattachpoint="messageClose" role="button" class="lotusDelete" href="javascript:;">
				<img role="presentation" src="images/blank.gif" alt="${nls.root.messageClose}">
				<span class="lotusAltText">X</span>
			</a>
		</div>	
		<div dojoAttachPoint="leftColNode" class="lotusColLeft" style="display:none;">
			<div class="lotusMenu">
				<div dojoAttachPoint="navMenu" class="lotusMenuSection" id="navTree"></div>
			</div>
		</div>
		<div dojoAttachPoint="rightColNode" class="lotusColRight" style="display:none;"></div>
		<div dojoAttachPoint="authNode" role="main" class="lotusContent" style="display:none;"></div>
		<div dojoAttachPoint="contentNode" role="main" class="lotusContent"></div>
	</div>
</div>