<div style="clear: both;">
	<div role="alert" class="lotusMessage2 lotusSuccess" style="top: -10px; margin: 20px 0px 0px 0px;" dojoattachpoint="successMessageNode">
		<img role="presentation" alt="Success:" src="images/blank.gif" class="lotusIcon lotusIconMsgSuccess">
		<span class="lotusAltText">Success:</span>
		<div class="lotusMessageBody" dojoattachpoint="successMessageBody"></div>
		<a dojoattachevent="onclick: hideMessageBox, onkeypress: _closeMessageKey" title="Close message" dojoattachpoint="mbSuccessClose" role="button" class="lotusDelete" href="javascript:;">
			<img role="presentation" src="images/blank.gif" alt="Close message">
			<span class="lotusAltText">X</span>
		</a>
	</div>
	<div role="alert" class="lotusMessage2 lotusHidden" style="top: 0px; margin: 30px 0px 0px 0px;" dojoattachpoint="errorMessageNode">
		<img role="presentation" alt="Error:" src="images/blank.gif" class="lotusIcon lotusIconMsgError">
		<span class="lotusAltText">Error:</span>
		<div class="lotusMessageBody" dojoattachpoint="errorMessageBody"></div>
		<a dojoattachevent="onclick: hideMessageBox, onkeypress: _closeMessageKey" title="Close message" role="button" class="lotusDelete" href="javascript:;">
			<img src="images/blank.gif" style="vertical-align: middle;" role="presentation" alt="Close message">
			<span class="lotusAltText">X</span>
		</a>
	</div>
</div>