<div class="lotusui30_layout" style="z-index: 9999; background-color:white; position: absolute;">
<div class="lotusMain">
  <div class="lotusColRight" style="overflow:auto;margin:0 auto;">
       <h4>Profiles</h4>
       <ul style="list-style-type: none;" dojoAttachPoint="profileIds"></ul>
       <h4>Communities</h4>
       <ul style="list-style-type: none;" dojoAttachPoint="communityIds"></ul>
       <h4>Tags</h4>
       <ul style="list-style-type: none;" dojoAttachPoint="tags"></ul>
       <button type="button" class="lotusBtn lotusRight" dojoattachevent="onclick:saveConfig">Save filters</button>
  </div>
  <div class="lotusContent">
      <div id="searchBox" dojoAttachPoint="searchBoxAP"></div>
      <div id="searchResults"></div>
      <!-- <textarea rows="10" cols="50"></textarea><br> -->
  </div>
</div>
</div>
