<div>
	<style>
		.table_class {
    		border-collapse: collapse;
    		font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
		    font-size: 12px;
		    margin: 20px;
		    text-align: left;
		    width: 480px;
		}
		.td_class {
		    background: none repeat scroll 0 0 #E8EDFF;
		    border-bottom: 1px solid #FFFFFF;
		    border-top: 1px solid transparent;
		    color: #666699;
		    padding: 8px;
		}
	</style>
	<div dojoAttachPoint="loading" class="dijitContentPaneLoading" style="display:none">Loading...</div>
	<table dojoAttachPoint="main" style="display:none; width:400px;" class="table_class">
		<tbody>
			<tr>
				<td style="width:40%" class="td_class">Title</td>
				<td style="width:60%" class="td_class"><span dojoAttachPoint="title"></span>
				</td>
			</tr>
			<tr>
				<td class="td_class">E-mail</td>
				<td class="td_class"><span dojoAttachPoint="email"></span>
				</td>
			</tr>
			<tr>
				<td class="td_class">Picture</td>
				<td class="td_class"><img dojoAttachPoint="picture"></img>
				</td>
			</tr>
		</tbody>
	</table>
</div>
