<tr class="oaActivityRowNode lotusFirst">
	<td width="20" class="lotusFirstCell">
		<div
			class="iconsComponentsGray16 iconsComponentsGray16-ActivitiesGray16">
		</div>
	</td>
	<td>
		<h4>
			<a href="" data-dojo-attach-event="onclick: handleClick" title="${tooltip}" class="oaActivityNameNode">${title}</a> 
			<span class="cnxnsType lotusMeta"> </span>
		</h4>
		
		<div class="lotusMeta">
			<span>${nls.updatedBy}
				<span> <a href="${getUserProfileHref}" >${authorName}</a></span> 
				
				<span class="lotusDivider">|</span> 
				<span class="oaFormatDate">${updated}</span>

			</span>
		</div>
	</td>
</tr>