<form id='ibmsbt.loginActionForm'>
	<table>
		<tr>
			<td>
				Welcome to IBM Connections
			</td>
		</tr>
		<tr>
			<td>
				<label name='wrongCredsMessage' id='wrongCredsMessage' style='color: red; display: none;'>Wrong Credentials </label>
			</td>
		</tr>
		<tr>
			<td>
				<label for='name'>User name: </label><br>
				<input type='text' id='username' name='username' />
			</td>
		</tr>
		<tr>
			<td>
				<label for='name'>Password: </label><br>
				<input type='password' id='password' name='password' />
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<input type='button' id='basicLoginFormOK' value='Log In'  name='submitBtn' />
				<input type='button' id='basicLoginFormCancel' value='Cancel' />
			</td>
		</tr>
	</table>
</form>