<form role='form' id='ibmsbt.loginActionForm'>
	<table>
		<tr>
			<td colspan=2>
				<label for='wrong_creds_message' name='wrongCredsMessage' id='wrongCredsMessage' style='color: red; display: none;'>Wrong Credentials </label>
			</td>
		</tr>
		<tr>
			<td>
				<label for='username'>Username: </label>
			</td>
			<td>
				<input type='text' id='username' name='username' />
			</td>
		</tr>
		<tr>
			<td>
				<label for='password'>Password: </label>
			</td>
			<td>
				<input type='password' id='password' name='password' />
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<input type='button' id='loginFormOK' onClick='sbt.dialog.submitOnClickHandle(this.form)' value='OK'  name='submitBtn' />
				<input type='button' id='loginFormCancel' onClick='sbt.dialog.hide();if(sbt.cancel){sbt.cancel();}delete sbt.dialog;' value='Cancel' />
			</td>
		</tr>
	</table>
</form>