<tr class="lotusCommentList">
    <td class="lotusCommentItem lotusFirst">
        <div class="lotusPost lotusCommentMy">
            <a id="comment-${uid}"
                name="comment-${uid}"
                class="lotusHidden"></a>
            <div class="lotusPostAuthorInfo" style="position: static;">
                <div class="lotusPostAvatar">
                    <img style="width: 35px; height: 35px;"
                        src=""
                        alt="">
                        <span></span>
                </div>
            </div>
            <div class="lotusPostContent" style="position: static;">
                <div class="lotusMeta">
                <span class="lotusRight" title="${commentEditedLabel}">${commentEditedLabel}</span>
                    <span title="${published}">
                         <span class="vcard" dojoAttachPoint="vcardNode">
  							<a href="${getUserProfileHref}" data-dojo-attach-event="onclick: viewUserProfile" class="fn url">${authorName}</a>
  							<span data-dojo-attach-point="idNode" class="x-lconn-userid" style="display: none;">${authorUserId}</span>
  							
  							</span>
                        ${_nls.commented} ${createdLabel}
                    </span>
                </div>
                <div class="lotusPostDetails">
                    <div class="lotusChunk lotusBreakWord">
                        ${formattedContent}<br>
                    </div>
                </div>
                <div class="lotusActions">
                    <ul class="lotusInlinelist">
                        <li class="lotusFirst">
                            <a class="_qkrEditLink" href="" role="button" title="${_nls.edit}">${_nls.edit}
                            </a>
                        </li>
                        <li>
                            <a href="" role="button"
                                title="${_nls._delete}">${_nls._delete}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </td>
</tr>