<div class="lotusDialogContent _qkrDialogCompact">
	<form class="lotusForm">
		<table cellpadding="0" role="presentation" class="lotusFormTable">
			<colgroup>
				<col>
				<col width="100%">
				<col>
			</colgroup>
			<tbody>
				<tr class="lotusFormFieldRow">
					<td class="lotusFormLabel lotusNowrap">
						<label for="">${nls.labelName}</label>
					</td>
					<td>
						<input class="lotusText" name="_label" aria-required="true" dojoattachpoint="nameInput">
					</td>
					<td></td>
				</tr>
				<tr class="lotusFormFieldRow">
					<td class="lotusFormLabel lotusNowrap">
						<label for="">${nls.labelDescription}</label>
					</td>
					<td>
						<textarea class="lotusText" name="_description" maxlength="2048" dojoattachpoint="descriptionInput"></textarea>
					</td>
				</tr>
				<tr class="lotusFormFieldRow">
					<td class="lotusFormLabel lotusNowrap" style="overflow: hidden;">
						<span>${nls.labelShareWith}</span>
					</td>
					<td style="padding-bottom: 5px;">
						<fieldset>
							<legend class="lotusAccess">${nls.labelShareWith}</legend>
							<input type="radio" name="_visibility" class="lotusCheckbox filesIECheckbox" value="private" checked=""	title="${nls.titleShareMeOnly}" dojoattachpoint="privateInput">
							<label class="lotusCheckbox" for="">
								<span> ${nls.labelNoone}</span>
							</label>
							<span class="lotusMeta">${nls.titleShareMeOnly}</span><br>
							<!-- 
							<input type="radio" name="_visibility" class="lotusCheckbox filesIECheckbox" value="people" title="" dojoattachpoint="peopleInput">
							<label class="lotusCheckbox" for="">
								<span>People or Communities</span>
							</label><br>
							 -->
							<input type="radio" name="_visibility" class="lotusCheckbox filesIECheckbox" value="public" title="${nls.titleShareEveryone}" dojoattachpoint="publicInput">
							<label class="lotusCheckbox" for="">
								<span> ${nls.labelPublic}</span>
							</label>
							<span class="lotusMeta">${nls.titleShareEveryone}</span>
						</fieldset>
					</td>
					<td></td>
				</tr>
				<tr>
					<td class="lotusFormFooter" colspan="3" dojoattachpoint="buttonsNode">
						<button type="button" class="lotusBtn" dojoattachevent="onclick: onExecute" dojoattachpoint="executeButton">${nls.labelSave}</button>
						<button type="button" class="lotusBtn" dojoattachevent="onclick: onCancel" dojoattachpoint="cancelButton">${nls.labelCancel}</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>