<div class="lotusDialogContent _qkrDialogCompact">
	<form class="lotusForm">
	<table cellpadding="0" role="presentation" class="lotusFormTable">
		<colgroup>
			<col>
			<col width="100%">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<td colspan="3">
					<div aria-live="assertive" style="display: none;" dojoattachpoint="messageContainer"></div>
				</td>
			</tr>
			<tr class="lotusFormFieldRow">
				<td class="lotusFormLabel lotusNowrap">
					<span>${nls.labelFile}</span>
				</td>
				<td>
					<input type="file" name="_file" dojoattachpoint="fileInput"></input>
				</td>
			</tr>
			<tr class="lotusFormFieldRow">
				<td class="lotusFormLabel lotusNowrap">
					<label for="">${nls.labelTags}</label>
				</td>
				<td>
					<input type="text" value="" name="_tags" class=" lotusText" dojoattachpoint="tagsInput" title="${nls.titleEnterTags}">
				</td>
				<td></td>
			</tr>
			<tr class="lotusFormFieldRow">
				<td class="lotusFormLabel lotusNowrap" style="overflow: hidden;">
					<span>${nls.labelShareWith}</span>
				</td>
				<td style="padding-bottom: 5px;">
					<fieldset>
						<legend class="lotusAccess">${nls.labelShareWith}</legend>
						<input type="radio" name="_visibility" class="lotusCheckbox filesIECheckbox" value="private" checked=""	title="${nls.titleShareMeOnly}" dojoattachpoint="privateInput">
						<label class="lotusCheckbox" for="">
							<span> ${nls.labelNoone}</span>
						</label>
						<span class="lotusMeta">${nls.titleShareMeOnly}</span><br>
						<!-- 
						<input type="radio" name="_visibility" class="lotusCheckbox filesIECheckbox" value="people" title="" dojoattachpoint="peopleInput">
						<label class="lotusCheckbox" for="">
							<span>People or Communities</span>
						</label><br>
						 -->
						<input type="radio" name="_visibility" class="lotusCheckbox filesIECheckbox" value="public" title="${nls.titleShareEveryone}" dojoattachpoint="publicInput">
						<label class="lotusCheckbox" for="">
							<span> ${nls.labelPublic}</span>
						</label>
						<span class="lotusMeta">${nls.titleShareEveryone}</span>
					</fieldset>
				</td>
				<td></td>
			</tr>
			<tr class="lotusFormFieldRow">
				<td class="lotusFormLabel"></td>
				<td>
					<div>
						<input type="checkbox" class="lotusCheckbox filesIECheckbox" name="_shareFilePropagate"	value="true" checked="" dojoattachpoint="propagateInput">
						<label class="lotusCheckbox" for="">${nls.labelAllowOthers}</label>
					</div>
				</td>
			</tr>
			<tr>
				<td class="lotusFormFooter" colspan="3" dojoattachpoint="buttonsNode">
					<button type="button" class="lotusBtn" dojoattachevent="onclick: onExecute" dojoattachpoint="executeButton">${nls.labelUpload}</button>
					<button type="button" class="lotusBtn" dojoattachevent="onclick: onCancel" dojoattachpoint="cancelButton">${nls.labelCancel}</button>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
</div>